<div class="s3" id="<%= dom_id(stream) %>">
  <%= link_to(stream, style: 'text-decoration: none; color: inherit;', data: { 'data-turbolinks': "false" }) do %>
    <div class="card">
      <div class="card-image">
        <div class='thumbnail' style='background-image: url("<%=thumbnail_url(stream) %>")'></div>
      </div>
      <div class="card-content">
        <span class="card-title"><%= stream.stream_configuration.title %></span>
        <p>@<%= stream.handle %></p>
      </div>
    </div>
  <% end %>
</div>
