<nav>
  <div class="nav-wrapper">
    <div class="container">
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><%= link_to 'Home', root_path %></li>
      </ul>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <% if current_user.present? %>
          <li><span>Logged in as <%= current_user.email %></span></li>
          <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
          <% else %>
          <li><%= link_to 'Login', new_user_session_path %></li>
          <li><%= link_to 'Sign Up', new_user_registration_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
