<!DOCTYPE html>
<html>
  <head>
    <title>RtmpStream</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script>
		  document.documentElement.setAttribute('theme', 'dark');
    </script>

    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>
    <%= vite_stylesheet_tag 'dark_theme.scss' %>
    <%= vite_stylesheet_tag 'application.scss' %>

  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
